@{
    ViewData["Title"] = "접급제한";
}

<h2>접근제한 &nbsp;&nbsp;<small><i class="glyphicon glyphicon glyphicon-hand-right"></i>현재의 권한으로는 접급할 수 없습니다.</small></h2>
<hr />

<a href="javascript:history.back()" class="btn btn-lg btn-primary">되돌아가기</a>