@model Bowler


<div class="form-group">
    <label asp-for="Name" class="control-label"></label>
    <input asp-for="Name" class="form-control" />
    <span asp-validation-for="Name" class="text-danger"></span>
</div>

<div class="form-group">
    <label asp-for="Group" class="control-label"></label>
    <select class="form-control" asp-for="Group">
        <option value="">--팀 선택--</option>
        <option value="Redpin">RedPin</option>
        <option value="Family">Family</option>
    </select>
    @*<input asp-for="Group" class="form-control" />*@
    <span asp-validation-for="Group" class="text-danger"></span>
</div>

<div class="form-group">
    <label asp-for="BowlerAverage.Handicap" class="control-label"></label>
    <input asp-for="BowlerAverage.Handicap" class="form-control" />
    <span asp-validation-for="BowlerAverage.Handicap" class="text-danger" />
</div>

<div class="form-group">
    <label asp-for="BowlerAverage.Average" class="control-label"></label>
    <input asp-for="BowlerAverage.Average" class="form-control" />
    <span asp-validation-for="BowlerAverage.Average" class="text-danger" />
</div>

<div class="form-group">
    <label asp-for="RegisterDate" class="control-label"></label>
    <input type="text" id="RegisterDate" name="RegisterDate" class="form-control date form_datetime" data-date="" readonly
           value="@(((string)ViewContext.RouteData.Values["action"])=="Edit" ? 
               Model.RegisterDate.ToString("yyyy-MM-dd"): DateTime.Now.ToString("yyyy-MM-dd"))" />
    <span asp-validation-for="RegisterDate" class="text-danger" />
</div>

<div class="form-group">
    <div class="checkbox">
        <label>
            <input asp-for="InActivity" /> @Html.DisplayNameFor(model => model.InActivity)
        </label>
    </div>
</div>

<div class="form-group">
    <label asp-for="LeaveDate" class="control-label"></label>
    <input type="text" id="LeaveDate" name="LeaveDate" class="form-control date form_datetime" data-date="" readonly
           value="@(((string)ViewContext.RouteData.Values["action"])=="Edit" ? 
               Model.LeaveDate?.ToString("yyyy-MM-dd"): "")" />
    <span asp-validation-for="LeaveDate" class="text-danger" />
</div>


<div class="form-group">
    <label asp-for="Bigo" class="control-label"></label>
    <input asp-for="Bigo" class="form-control" />
    <span asp-validation-for="Bigo" class="text-danger" />
</div>

<div class="form-group">
    <input type="submit" value="Save" class="btn btn-default" />
</div>